<link rel="stylesheet" type="text/css" href="/css/about.css">
<nav class="navbar navbar-default" role="navigation">
	<a href="/quiz"><img src="/images/soundwave.png"></a>
	<h1 id="quizheader"><a id="quizlink" href="/quiz"><i class="fa fa-music"></i> Quiz Me <i class="fa fa-music"></i></a></h1>
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a id="leaderboard" href="/about">About</a></li>
			<li><a id="leaderboard" href="/leaderboard">Leaderboard</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if (currentUser) { %>
			<li><a id="username" href="/profile/<%= currentUser.username %>"><%= currentUser.username %></a></li>
			<% } %>
			<li><a id="logout" href="/logout">Logout</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
<h1>Created by Alec McGovern</h1>