<link rel="stylesheet" type="text/css" href="/css/about.css">

<!-- Navbar -->
<% include partials/header.ejs %>

<!-- Below Navbar -->
<div id="content">
	<h1>Created by Alec McGovern</h1>
	<h5>Copyright 2015</h5>
	<h5>All rights reserved</h5>
	<p><bold>Images from:  </bold>http://all-free-download.com/free-vector/</p>
</div>