<!DOCTYPE html>
<html>
	<head>
		<title>Music Trivia</title>
		<!-- Latest compiled and minified CSS & JS -->
		<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%- style %>
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
		<% include alerts %>
		<%- body %>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

		<script src="jscript/login.js" type="text/javascript"></script>
	</body>
</html>

