<!DOCTYPE html>
<html>
	<head>
		<title>Music Trivia</title>
		<!-- Latest compiled and minified CSS & JS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%- style %>
		<meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0"/>
		<link href='https://fonts.googleapis.com/css?family=Sumana' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% include alerts %>
		<%- body %>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<%- script %>
	</body>
</html>

