<link rel="stylesheet" type="text/css" href="/css/login.css">
<div id="login-body">
		<img id="soundwave" src="images/soundwave.png">

	<!-- Login box -->
	<div id="login">
		<form action="/login" method="POST">
			<input id="email" type="text" placeholder="email" name="email"> 
				<br>
			<input id="password" type="password" placeholder="password" name="password"> <br>
			<input id="submit" type="submit" value="Login">
		</form>
		<div id="signup">
			<p>Don't have an account? <a href="/signup">Sign up</a></p>
		</div>
	</div>
</div>