<h1 id="header">Login to your account</h1>

<form>
	<input type="text" placeholder="username or email"> <br>
	<input type="text" placeholder="password"> <br>
	<input type="submit" value="Login">
</form>
<div>
	<p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>