<form action="/signup" method="POST">
	<input type="text" placeholder="email" name="email"> <br>
	<input type="text" placeholder="username" name="username"> <br>
	<input type="text" placeholder="password (8 character minimum)" name="password"> <br>
	<input type="text" placeholder="re-type password" 
		name="password2"> <br>
	<input type="submit" value="Sign up">
</form>