<link rel="stylesheet" type="text/css" href="/css/signup.css">
<div id="signup-body">
	<img id="soundwave" src="images/soundwave.png">

	<div id="signupdiv">

		<form action="/signup" method="POST">
			<input id="email-signup" type="text" placeholder="email" name="email"> 
				<br>
			<input id="username-signup"type="text" placeholder="username" name="username"> 
				<br>
			<input id="password1-signup" type="password" placeholder="password" name="password"> 
				<br>
			<input id="password2-signup" type="password" placeholder="re-type password" 
				name="password2"> 
				<br>
			<input id="submit-signup" type="submit" value="Sign up">
			<p id="backtologin"><a href="/login">Back to Login</a></p>
		</form>

	</div>

</div>