.navbar{
	background: #2C3F4E;
}
#title{
	color: white;
}
#leaderboard{
	color: white;
}
#username{
	color: white;
}
#logout{
	color: white;
}
h1{
	text-align: center;
}
img{
	height: 100px;
	position: relative;
	width: 50%;
	left: 25%;
}
#quizlink{
	text-align: center;
	color: white;
}
#quizheader{
	text-align: center;
}
#quizlink{
	color: white;
}
#quizlink:hover{
	text-decoration: none;
}