.navbar{
	font-family: 'Sumana';
	/*background: #2C3F4E;*/
	background: black;
	border-bottom: 2px solid white;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}
#about{
	color: white;
}
#leaderboard{
	color: white;
}
#username{
	color: white;
}
#logout{
	color: white;
}

h1{
	padding-top: 30px;
	margin-top: 0px;
	text-align: center;
}
img{
	margin: 0px;
	padding: 0px;
	height: 100px;
	position: relative;
	width: 50%;
	left: 25%;
}
#quizlink{
	text-align: center;
	color: white;
}
#quizheader{
	width: 40%;
	margin-left: 30%;
	padding: 0px;
	text-align: center;
	padding-bottom: 5px;
	border: 2px solid white;
}
#quizheader:hover{
	border-color: black;
	background: white;
	color: black;
}
@media(min-width: 1180px){
	#quizheader{
		margin-left: 40%;
		width: 20%;
	}
}

#quizlink:hover{
	text-decoration: none;
	color: black;
}

ul{
	margin-top: 20px;
	list-style-type: none;
	padding-left: 0px;
}
li{
	margin-bottom: 10px;
}
li:hover{
	margin-bottom: 8px;
	border: 1px solid white;
}
