

#content{
	width: 100%;
	height: 800px;
	background-image: url('../images/Wired_motion.jpg');
	background-size: 100%;
}
#resultslist{
	overflow: auto;
	background: #2C3F4E;
	position: absolute;
	left: 10%;
	width: 80%;
	height: 600px;
	border: 3px solid white;
}
@media (min-width: 800px){
	#resultslist{
		left: 30%;
		width: 40%;
	}
}
h1{
	color: white;
	padding-bottom: 20px;
}
code{
	color: #C10C01;
}

.table{
	color: white;
}
.table a {
	color: white;
}