.navbar{
	background: #2C3F4E;
	padding-top: 100px;
}
#title{
	color: white;
}
#leaderboard{
	color: white;
}
#username{
	color: white;
}
#logout{
	color: white;
}
#favorites{
	width: 30%;
}
#stats{

}