.navbar{
	background: #2C3F4E;
	padding-top: 100px;
}
#title{
	color: white;
}
#leaderboard{
	color: white;
}
#username{
	color: white;
}
#logout{
	color: white;
}
#un{
	margin-left: 20px;
}
#music{
	margin-left: 20px;
}
#favorites{
	overflow: auto;
	position: absolute;
	left: 25%;
	width: 30%;
	height: 400px;
	border: 1px solid black;
}
#stats{
	position: absolute;
	left: 60%;
	width: 30%;
	height: 400px;
	border: 1px solid black;
}
h4{
	text-align: center;
	text-decoration: underline;
}
.divfavorite{
	position: relative;
	width: 94%;
	left: 3%;
	height: 100px;
	border: 1px solid grey;
}
.redfav{
	color: red;
	margin-right: 10px;
}
.redfav:hover{
	color: grey;
}
.otherfav{
	color: red;
	margin-right: 10px;
}