h1{
	color: #2C3F4E;
	text-align: center;
}
h2{
	text-align: center;
}
form{
	text-align: center;
}
label{
	margin-left: 20px;
	margin-right: 5px;
}
#quizdiv{
	position: absolute;
	width: 50%;
	height: 300px;
	left: 25%;
	margin-top: 20px;
	background: #2C3F4E;
	color: white;
}
ul{
	margin-top: 20px;
	list-style-type: none;
	padding-left: 0px;
}
#list{
	position: relative;
	text-align: center;
	width: 70%;
	left: 15%;
}
#timer{
	text-align: center;
	margin-top: 10px;
}
#audio{
	position: relative;
	width: 50%;
	left: 25%;
}
#cheat{
	text-align: center;
}
#favorite{
	
}