body{
	background: #93c5d8;
}
h1{
	color: #2C3F4E;
	text-align: center;
}
h2{
	text-align: center;
}
form{
	text-align: center;
}
label{
	margin-left: 20px;
	margin-right: 5px;
}
#quizdiv{
	position: absolute;
	width: 50%;
	height: 350px;
	left: 25%;
	margin-top: 20px;
	background: #2C3F4E;
	color: white;
}
ul{
	margin-top: 20px;
	list-style-type: none;
	padding-left: 0px;
}
li{
	margin-bottom: 10px;
}
li:hover{
	margin-bottom: 8px;
	border: 1px solid white;
}
#list{
	position: relative;
	text-align: center;
	width: 80%;
	left: 10%;
}
#timer{
	text-align: center;
	margin-top: 10px;
}
#audio{
	position: relative;
	width: 50%;
	left: 25%;
}
#cheat{
	text-align: center;
}
#favorite{
	color: white;
	padding-right: 30px;
}
#favorite:hover{
	color: #C7254E;
}
#redfav{
	color: #C7254E;
	padding-right: 30px;
}
h5{
	width: 50%;
	left: 25%;
	position: absolute;
	top: 600px;
	text-align: center;
}
#back{
	left: 25%;
	margin-top: 10px;
	width: 50%;
}
@media(min-width: 800px){
	#back{
		left: 40%;
		margin-top: 10px;
		width: 20%;
	}
}

#back:hover{
	margin-top: 13px;
}
#start{
	width: 60px;
	margin-top: 10px;
	background: #2C3F4E;
	border-bottom: 4px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
}
#start:hover{
	margin-top: 13px;
	border-bottom: 1px solid black;
}
#download{
	background: #93c5d8;
	color: black;
	margin-top: 10px;
	border-bottom: 4px solid black;
}
#download:hover{
	margin-top: 13px;
	border-bottom: 1px solid black;
}
.butn{
	position: relative;
	background: #2C3F4E;
	border-bottom: 4px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
}
.butn:hover{
	border-bottom: 1px solid black;
	margin-top: 13px;
}
.buttonlink{
	color: white;
}
.buttonlink:hover{
	color: white;
	text-decoration: none;
}